.idea
.python-version
*.egg-info
*.egg
*.whl
Pipfile.lock
.project
__pycache__
build
dist
venv
venv2
.ontoenv
.env
.ipynb_checkpoints
bob/.ipynb_checkpoints
.mypy_cache
/.ruff_cache
/.pytest_cache
/223p_schema.ttl
/*.log
/docs/_static
/docs/_build
