.idea
.python-version
*.egg-info
*.egg
*.whl
Pipfile.lock
.project
__pycache__
build
dist
venv
venv2
.ontoenv
.env
.ipynb_checkpoints
bob/.ipynb_checkpoints
samples/.ipynb_checkpoints
tutorial/.ipynb_checkpoints
.mypy_cache
/py311
/samples/ttl/*.html
/g36/ttl/*.html
samples/nonconforming/play.ipynb
/samples/nonconforming/hq
/lib
/.ruff_cache
/.pytest_cache
/223p_schema.ttl
/*.log
/doc/_build
/doc/figures
/doc/_static
