[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bob = {editable = true, path = "."}
html5lib = "*"
pyshacl = "*"
rdflib = "*"

[dev-packages]
build = "*"
pytest = "*"
pytest-cov = "*"
click = "*"
pyvis = "*"
owlrl = "*"
